/* style.css */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/header.css');
@import url('css/categories.css');
@import url('css/categories-modal.css');
@import url('css/models.css');
@import url('css/favorites.css');
@import url('css/modal.css');
@import url('css/footer.css');
@import url('css/admin-panel.css');
@import url('css/themes.css');
@import url('css/responsive.css');